.footer__wrapper {
  display: flex;
  border-top: 1px solid $black;
}

.footer__inner {
  @include min-sm {
    width: 50%;
  }
}

.footer__map {
  display: none;

  @include min-sm {
    display: block;
  }
}

.footer__contacts-wrapper {
  padding-top: 23px;

  @include min-sm {
    .title {
      text-align: left;
    }
  }
}

.footer__contacts {
  margin-bottom: 10px;

  @include min-sm {
    margin-bottom: 12px;
  }
}

.footer__tel,
.footer__mail,
.footer__address,
.footer__hours {
  display: block;
  color: $black;
  font-size: 12px;

  @include min-sm {
    font-size: 18px;
  }
}

.footer__tel {
  margin-bottom: 5px;

  @include min-sm {
    margin-bottom: 10px;
  }
}

.footer__nav-wrapper {
  padding: 10px 0 30px;
  background-color: $black;

  @include min-sm {
    padding: 60px 0;
  }

  .social {
    display: none;
    margin-bottom: 0;
    @include min-sm {
      display: flex;
    }
  }

  .social__link {
    vertical-align: top;
  }

  .social__icon {
    fill: $white;
  }
}

.footer__columns {
  display: flex;
  flex-wrap: wrap;
  @include min-sm {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.footer__tel-bottom {
  color: $white;
  display: none;

  @include min-sm {
    display: block;
    margin: 20px 0 20px;
  }
}

.footer__contacts-bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  width: 100%;

  @include min-sm {
    flex-direction: column;
    align-items: center;
    width: 33.333%;
  }
}

.footer__nav-column {
  @include list-reset;
  width: 50%;
  color: $white;
  text-transform: uppercase;
  font-size: 12px;

  @include min-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.333%;
    font-size: 18px;
  }
}

.footer__nav-item {
  margin-bottom: 10px;

  @include min-sm {
    margin-bottom: 16px;
  }
}

.footer__nav-link {
  color: $white;
}
