.practices {
}
.practices__swiper {
  .swiper-slide {
    @include min-lg {
      &:nth-of-type(2n) {
        margin-top: 200px;
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: $black;

    &::after {
      font-size: 18px;

      @include min-md {
        font-size: 28px;
      }
    }
  }
  .swiper-button-prev {
    left: -5px;
  }
  .swiper-button-next {
    right: -5px;
  }
}

.practices__block {
  position: relative;
  width: 203px;
  margin: 0 auto;

  @include min-sm {
    width: 320px;
  }
}

.practices__figure {
}

.practices__name {
  position: relative;
  display: block;
  font-size: 12px;
  color: $black;

  @include min-sm {
    font-size: 24px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 60px;
    display: block;
    width: 15px;
    height: 15px;
    background: url("../../img/icons/arrow-pointing.svg") no-repeat center;
    background-size: cover;
    border-radius: 50%;
    @include min-sm {
      top: 0px;
      right: 88px;
      width: 25px;
      height: 25px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -43px;
    right: 66px;
    display: block;
    width: 1px;
    height: 40px;
    border-left: 1px solid $black;
    @include min-sm {
      right: 100px;
      top: -70px;
      width: 1px;
      height: 65px;
    }
  }
}

.practices__figure {
  border-radius: 50%;
  overflow: hidden;
  width: 203px;
  height: 203px;
  margin: 0 auto;

  @include min-sm {
    width: 320px;
    height: 320px;
  }
}

.practices__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
