<section id="about" class="about section">
  <div class="container">
    <h2 class="title title--seconde">О нас</h2>
    <p class="section__description">
      Студия FlyWith основна в 2015 году как место для йоги и пространство для
      души. Приглашаем наших гостей стать частью сообщества единомышленников,
      делающих выбор в пользу здорового и экологичного образа жизни.
    </p>
    <div class="about__block">
      <figure class="about__figure outline">
        <img
          class="about__img"
          src="https://raw.githubusercontent.com/AnastasiaDrokina/fly-with/main/docs/img/meditation.jpg"
          width="384"
          height="478"
          alt="Девушка в позе лотоса"
        />
      </figure>

      <div class="about__columns">
        <div class="about__columns-left">
          <div class="about__numbers-wrapper">
            <img
              class="about__numbers-img"
              src="https://raw.githubusercontent.com/AnastasiaDrokina/fly-with/main/docs/img/png/girl-bent-over.png"
              width="42"
              height="42"
              alt="Изображение девушки"
            />
            <p class="about__numbers-text">
              105 часов йоги в неделю с 6 утра до 10 вечера
            </p>
          </div>

          <div class="about__numbers-wrapper">
            <img
              class="about__numbers-img"
              src="https://raw.githubusercontent.com/AnastasiaDrokina/fly-with/main/docs/img/png/butterfly.png"
              width="42"
              height="42"
              alt="Изображение бабочки"
            />
            <p class="about__numbers-text">
              3 зала для занятий в минималистичном стиле
            </p>
          </div>
        </div>

        <div class="about__columns-right">
          <div class="about__numbers-wrapper">
            <img
              class="about__numbers-img"
              src="https://raw.githubusercontent.com/AnastasiaDrokina/fly-with/main/docs/img/png/leaflet.png"
              width="42"
              height="42"
              alt="Изображение листика"
            />
            <p class="about__numbers-text">
              100500 чашек травяного чая после занятий
            </p>
          </div>

          <div class="about__numbers-wrapper">
            <img
              class="about__numbers-img"
              src="https://raw.githubusercontent.com/AnastasiaDrokina/fly-with/main/docs/img/png/girl-pulls-leg.png"
              width="42"
              height="42"
              alt="Изображение девушки"
            />
            <p class="about__numbers-text">8 профессиональных преподавателей</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
