<section class="advantages section">
  <div class="container">
    <h2 class="title title--seconde">Что мы предлагаем?</h2>
    <div class="advantages__block">
      <picture class="advantages__picture">
        <img
          class="advantages__img"
          src="img/yoga-girl.jpg"
          width="500"
          height="555"
          alt="Девушка занимается йогой"
        />
      </picture>

      <div class="advantages__column">
        <div class="advantages__content">
          <div class="advantages__content-inner">
            <img
              class="advantages__content-img"
              src="img/png/girl-praying.png"
              width="57"
              height="57"
              alt="Изображение девушки"
            />
            <h3 class="advantages__content-title">
              Индивидуальный подход к каждому посетителю
            </h3>
          </div>
          <p class="advantages__content-text">
            Инструкторы учитывают физические особенности каждого ученика при
            выборе упражнений и интенсивности выполнения.
          </p>
        </div>

        <div class="advantages__content">
          <div class="advantages__content-inner">
            <img
              class="advantages__content-img"
              src="img/png/mountain.png"
              width="57"
              height="57"
              alt="Изображение девушки"
            />
            <h3 class="advantages__content-title">
              Пять направлений в йоге на выбор, частые мастер классы
            </h3>
          </div>
          <p class="advantages__content-text">
            За все время наша студия обучила 3500 человек. Мы также
            систематически организовываем семинары и мастер классы по йоге.
          </p>
        </div>

        <div class="advantages__content">
          <div class="advantages__content-inner">
            <img
              class="advantages__content-img"
              src="img/png/girl-on-the-side.png"
              width="57"
              height="57"
              alt="Изображение девушки"
            />
            <h3 class="advantages__content-title">
              Только сертифицированные преподаватели с опытомот 2 до 15 лет
            </h3>
          </div>
          <p class="advantages__content-text">
            Опытные инструкторы помогут поддержать здоровье, обрести гармонию и
            осознанность.
          </p>
        </div>
      </div>
    </div>

    <include
      src="button.html"
      locals='{
      "text": "Записаться",
      "class": "btn btn--centre"
      }'
    >
    </include>
  </div>
</section>
