<section class="banner banner--main">
  <div class="container">
    <h1 class="visually-hidden">Студия FlyWith</h1>
    <p class="title title--first banner__title">
      Обрети гармонию
      <span class="banner__title-smaller">с собственным телом</span>
    </p>
    <p class="banner__text">
      <span>Найди равновесие.</span> Укрепи здоровье. Получи счастье.
    </p>
    <include
      src="button.html"
      locals='{
    "text": "Записаться",
    "class": "btn"}'
    >
    </include>
  </div>
</section>
