<section class="blog section section--last">
  <div class="container">
    <h2 class="title title--seconde">События</h2>
  </div>
  <img
    class="blog__img"
    src="img/incense.jpg"
    width="320"
    height="151"
    alt="Благовония"
  />
  <div class="blog__wrapper">
    <div class="container blog__inner">
      <div class="blog__info">
        <p class="blog__title">
          Курс медитации "С опорой на себя" от Ани Ивановой
        </p>
        <p class="blog__text">
          Курс об устойчивости, заземлении, чувстве базовой поддержки от
          сертифицированного преподавателя медитации и практик осознанности.
        </p>
      </div>
      <include
        src="button.html"
        locals='{
          "text": "Записаться",
          "class": "btn btn--centre btn--small"
          }'
      >
      </include>
    </div>
  </div>
</section>
