<footer id="contacts" class="footer">
  <div class="footer__wrapper">
    <iframe
      class="footer__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d594.2911814272703!2d30.37684552358519!3d59.93298351512083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631be74905c21%3A0x200d5b63669c55ae!2z0JnQvtCz0LA!5e0!3m2!1sru!2sfr!4v1638184695118!5m2!1sru!2sfr"
      width="50%"
      height="476"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
    <div class="container container--fluid footer__inner">
      <div class="footer__contacts-wrapper">
        <h2 class="title title--seconde">Контакты</h2>
        <div>
          <div class="footer__contacts">
            <a class="footer__tel" href="tel:+79111233457">+7 911 123 345 7</a>
            <a class="footer__mail" href="mailto:flywith@gmail.com"
              >flywith@gmail.com</a
            >
          </div>
          <p class="footer__hours">ежедневно с 06.00 до 22.00</p>
          <p class="footer__address">Санк-Петербург, ул. Образцова, дом 123</p>
          <ul class="social">
            <li class="social__item">
              <a class="social__link" href="#" aria-label="Мы в инстаграм"
                ><svg class="social__icon social__inst" width="30" height="30">
                  <use xlink:href="#icon-inst"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" aria-label="Мы в ютубе"
                ><svg class="social__icon social__yb" width="40" height="28">
                  <use xlink:href="#icon-yb"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" aria-label="Мы в вотсапе"
                ><svg class="social__icon social__wp" width="30" height="30">
                  <use xlink:href="#icon-wp"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" aria-label="Мы в телеграме"
                ><svg class="social__icon social__tm" width="30" height="30">
                  <use xlink:href="#icon-tm"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__nav-wrapper">
    <div class="container">
      <div class="footer__columns">
        <div class="footer__contacts-bottom">
          <a href="#" title="Вернуться на главную страницу">
            <span class="visually-hidden">Вернуться на главную страницу </span>
            <img
              class="logo__img"
              src="img/png/leaflet.png"
              width="40"
              height="40"
              alt="Логотип йога-студии FlyWith"
            />
          </a>
          <a class="footer__tel footer__tel-bottom" href="tel:+79111233457"
            >+7 911 123 345 7</a
          >
          <ul class="social">
            <li class="social__item">
              <a class="social__link" href="#" aria-label="Мы в инстаграм"
                ><svg class="social__icon social__inst" width="30" height="30">
                  <use xlink:href="#icon-inst"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" aria-label="Мы в ютубе"
                ><svg class="social__icon social__yb" width="40" height="28">
                  <use xlink:href="#icon-yb"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" aria-label="Мы в вотсапе"
                ><svg class="social__icon social__wp" width="30" height="30">
                  <use xlink:href="#icon-wp"></use></svg
              ></a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" aria-label="Мы в телеграме"
                ><svg class="social__icon social__tm" width="30" height="30">
                  <use xlink:href="#icon-tm"></use></svg
              ></a>
            </li>
          </ul>
        </div>
        <ul class="footer__nav-column">
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="index.html">Главная</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">О нас</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="practices-page.html">Практики</a>
          </li>
        </ul>
        <ul class="footer__nav-column">
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Расписание</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Тарифы</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
