<div style="display: none">
  <include src="../../build/img/sprite_auto.svg"></include>
</div>
<header class="header">
  <div class="container header__container">
    <div class="header__wrapper">
      <a href="#" title="Вернуться на главную страницу">
        <span class="visually-hidden"> Вернуться на главную страницу </span>
        <img
          class="logo__img"
          src="img/png/leaflet.png"
          width="40"
          height="40"
          alt="Логотип йога-студии FlyWith"
        />
      </a>
      <button class="header__toggle js-header-toggle" type="button">
        <span class="visually-hidden">Открыть меню</span>
      </button>
    </div>

    <nav class="header__nav js-header-nav">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="/main-page.html">
            <span class="visually-hidden">Перейти на страницу &nbsp;</span>
            Главная
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#about">
            <span class="visually-hidden">Перейти в раздел &nbsp;</span>
            О нас
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">
            <span class="visually-hidden">Перейти на страницу &nbsp;</span>
            Расписание
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="practices-page.html">
            <span class="visually-hidden">Перейти на страницу &nbsp;</span>
            Практики
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#tariff">
            <span class="visually-hidden">Перейти в раздел &nbsp;</span>
            Тарифы
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">
            <span class="visually-hidden">Перейти на страницу &nbsp;</span>
            Вакансии
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#contacts">
            <span class="visually-hidden">Перейти в раздел &nbsp;</span>
            Контакты
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">
            <span class="visually-hidden">Перейти на страницу &nbsp;</span>
            Личный кабинет
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__phone">
      <a class="header__phone-link" href="tel:+7(911)1233457"
        >+7 911 123 345 7</a
      >
    </div>
  </div>
</header>
