<section id="practices" class="practices section">
  <div class="container">
    <h2 class="title title--seconde">Практики</h2>

    <!-- Slider main container -->
    <div class="swiper practices__swiper swiper-practice">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="practices__block">
            <figure class="practices__figure">
              <img
                class="practices__img"
                src="https://raw.githubusercontent.com/AnastasiaDrokina/fly-with/main/docs/img/vinyasa-flo-main.jpg"
                width="203"
                height="203"
                alt="Виньяса Флоу Йога"
              />
            </figure>
            <a href="practices-page.html" class="practices__name">
              Виньяса Флоу <br />
              Йога
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="practices__block">
            <figure class="practices__figure">
              <img
                class="practices__img"
                src="https://raw.githubusercontent.com/AnastasiaDrokina/fly-with/main/docs/img/ashtanga-main.jpg"
                width="203"
                height="203"
                alt="Аштана"
              />
            </figure>
            <a href="practices-page.html" class="practices__name">Аштана</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="practices__block">
            <figure class="practices__figure">
              <img
                class="practices__img"
                src="https://raw.githubusercontent.com/AnastasiaDrokina/fly-with/main/docs/img/hatha-main.jpg"
                width="203"
                height="203"
                alt="Хатха йога"
              />
            </figure>
            <a href="practices-page.html" class="practices__name">Хатха йога</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="practices__block">
            <figure class="practices__figure">
              <img
                class="practices__img"
                src="https://raw.githubusercontent.com/AnastasiaDrokina/fly-with/main/docs/img/vinyasa-flo-main.jpg"
                width="203"
                height="203"
                alt="Тибетская Йога"
              />
            </figure>
            <a href="practices-page.html" class="practices__name"
              >Тибетская Йога</a
            >
          </div>
        </div>
        <div class="swiper-slide">
          <div class="practices__block">
            <figure class="practices__figure">
              <img
                class="practices__img"
                src="https://raw.githubusercontent.com/AnastasiaDrokina/fly-with/main/docs/img/hatha-main.jpg"
                width="203"
                height="203"
                alt="Йога Айенгара"
              />
            </figure>
            <a href="practices-page.html" class="practices__name"
              >Йога Айенгара</a
            >
          </div>
        </div>
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
