<section class="practice section">
  <div class="container">
    <h2 class="visually-hidden">Хатха йога</h2>
    <ul class="practice__list">
      <li class="practice__item">
        <figure class="practice__figure outline outline--right">
          <img
            class="practice__img"
            src="img/hatha.jpg"
            width="150"
            height="150"
            alt="Позиция из Хатха йоги"
          />
        </figure>
        <div class="practice__wrapper">
          <div class="practice__inner">
            <p class="practice__text">
              <strong>Хатха йога</strong> — это древняя практика, помогающая
              привести в гармоничное состояние тело, разум и дух. Она включает в
              себя полный комплекс взаимодействия на физическом и ментальном
              уровне через выполнение асан, дыхательных упражнений и
              концентрацию внимания.
            </p>
            <p>
              Это направление йоги подходит для начинающих и практикующих йогов.
            </p>
          </div>
          <include
            src="button.html"
            locals='{
              "text": "Записаться",
              "class": "btn"}'
          >
          </include>
        </div>
      </li>

      <li class="practice__item">
        <figure class="practice__figure outline outline--right">
          <img
            class="practice__img"
            src="img/ashtanga.jpg"
            width="150"
            height="150"
            alt="Позиция из Аштана йоги"
          />
        </figure>
        <div class="practice__wrapper practice__wrapper--left">
          <div class="practice__inner">
            <p class="practice__text">
              <strong>Аштанга йога</strong> — это йога, где соблюдается 3
              принципа: поза, дыхание и сохранение концентрации. От классической
              хатха йоги это направление отличается интенсивностью выполнения
              упражнений и их непрерывностью.
            </p>
            <p>
              В результате активных упражнений, ускоряется циркуляция крови, что
              благотворно влияет на организми работу мозга, выводятся шлаки и
              токсины.Подходит для среднено и продвинутого уровня подготовки.
            </p>
          </div>
          <include
            src="button.html"
            locals='{
              "text": "Записаться",
              "class": "btn"}'
          >
          </include>
        </div>
      </li>

      <li class="practice__item">
        <figure class="practice__figure outline outline--right">
          <img
            class="practice__img"
            src="img/iyengar.jpg"
            width="150"
            height="150"
            alt="Позиция из Йоги Айенгара"
          />
        </figure>
        <div class="practice__wrapper">
          <div class="practice__inner">
            <p class="practice__text">
              <strong>Йога Айенгара</strong> — это мягкая, спокойная, безопасная
              практика. Получила признание за точность и вниманиек деталям.
            </p>
            <p>
              В время занятий учитывается строения тела и уровень
              подготовленности. Нагрузка и ее правильное распределение
              регулируется с использованием специальных приспособлений: подушки,
              валики, одеяла. Подходит для всех уровней подготовки.
            </p>
          </div>
          <include
            src="button.html"
            locals='{
              "text": "Записаться",
              "class": "btn"}'
          >
          </include>
        </div>
      </li>

      <li class="practice__item">
        <figure class="practice__figure outline outline--right">
          <img
            class="practice__img"
            src="img/vinyasa-flow.jpg"
            width="150"
            height="150"
            alt="Позиция из Виньяса Флоу Йоги"
          />
        </figure>
        <div class="practice__wrapper practice__wrapper--left">
          <div class="practice__inner">
            <p class="practice__text">
              <strong>Виньяса Флоу Йога</strong> — один из популярных стилей
              динамичной хатха йоги, в котором движение синхронизировано с
              дыханием, а позы перетекают из одной в другую, подобно танцу.
            </p>
            <p>
              Дыхание, важный компонент практики. Под счет преподавателя
              практикующие переходят на вдохеили на выдохе из одной позы в
              другую. Осознанность дыхания помогает сохранить ощущение
              присутствия в каждом моменте.
            </p>
          </div>
          <include
            src="button.html"
            locals='{
              "text": "Записаться",
              "class": "btn"}'
          >
          </include>
        </div>
      </li>

      <li class="practice__item">
        <figure class="practice__figure outline outline--right">
          <img
            class="practice__img"
            src="img/tibetan-yoga.jpg"
            width="150"
            height="150"
            alt="Позиция из Тибетской йоги"
          />
        </figure>
        <div class="practice__wrapper">
          <div class="practice__inner">
            <p class="practice__text">
              <strong>Тибетская йога</strong> — это мягкая, спокойная,
              безопасная практика. Получила признание за точность и вниманиек
              деталям.
            </p>
            <p>
              В время занятий учитывается строения тела и уровень
              подготовленности. Нагрузка и ее правильное распределение
              регулируется с использованием специальных приспособлений: подушки,
              валики, одеяла. Подходит для всех уровней подготовки.
            </p>
          </div>
          <include
            src="button.html"
            locals='{
              "text": "Записаться",
              "class": "btn"}'
          >
          </include>
        </div>
      </li>
    </ul>
  </div>
</section>
