<section class="practices section">
  <div class="container">
    <h2 class="title title--seconde">Практики</h2>

    <!-- Slider main container -->
    <div class="swiper practices__swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="practices__block">
            <figure class="practices__figure">
              <img
                class="practices__img"
                src="img/vinyasa-flo-main.jpg"
                width="203"
                height="203"
                alt="Виньяса Флоу Йога"
              />
            </figure>
            <a href="#" class="practices__name">
              Виньяса Флоу <br />
              Йога
            </a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="practices__block">
            <figure class="practices__figure">
              <img
                class="practices__img"
                src="img/ashtanga-main.jpg"
                width="203"
                height="203"
                alt="Аштана"
              />
            </figure>
            <a href="#" class="practices__name">Аштана</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="practices__block">
            <figure class="practices__figure">
              <img
                class="practices__img"
                src="img/hatha-main.jpg"
                width="203"
                height="203"
                alt="Хатха йога"
              />
            </figure>
            <a href="#" class="practices__name">Хатха йога</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="practices__block">
            <figure class="practices__figure">
              <img
                class="practices__img"
                src="img/vinyasa-flo-main.jpg"
                width="203"
                height="203"
                alt="Тибетская Йога"
              />
            </figure>
            <a href="#" class="practices__name">Тибетская Йога</a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="practices__block">
            <figure class="practices__figure">
              <img
                class="practices__img"
                src="img/hatha-main.jpg"
                width="203"
                height="203"
                alt="Йога Айенгара"
              />
            </figure>
            <a href="#" class="practices__name">Йога Айенгара</a>
          </div>
        </div>
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
