<section class="tariff section">
  <div class="container">
    <h2 class="title title--seconde">Тарифы</h2>
    <p class="section__description">
      Каждую субботу в нашей студии проходят практикиза свободный донейшен
      (клиен платит сколько считает нужным).
    </p>
    <ul class="tariff__list">
      <include
        src="tariff-card.html"
        locals='{
            "class": "1 занятие",
            "practice": "практика на выбор",
            "price": "400 рублей",
          }'
      >
      </include>

      <include
        src="tariff-card.html"
        locals='{
            "class": "1 занятие",
            "practice": "практика на выбор",
            "price": "400 рублей",
          }'
      >
      </include>

      <include
        src="tariff-card.html"
        locals='{
            "class": "1 занятие",
            "practice": "практика на выбор",
            "price": "400 рублей",
          }'
      >
      </include>

      <include
        src="tariff-card.html"
        locals='{
            "class": "1 занятие",
            "practice": "практика на выбор",
            "price": "400 рублей",
          }'
      >
      </include>
    </ul>
  </div>
</section>
