<section class="team section">
  <div class="container">
    <h2 class="title title--seconde">Команда</h2>
    <p class="section__description">
      Наши преподаватели постоянно повышают уровень подготовки, посещают
      семинары старших тренеров по йоге России, также мастер-классы инструкторов
      йоги из Индии, Австралии и США.
    </p>

    <!-- Slider main container -->
    <div class="swiper team__swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="teacher">
            <img
              class="teacher__img"
              src="img/abdurahmangadzhi.jpg"
              width="145"
              height="104"
              alt="Тренер Абдурахмангаджи"
            />
            <div class="teacher__info">
              <p class="teacher__name">Абдурахмангаджи</p>
              <div class="teacher__info-inner">
                <p class="teacher__practice">Хатха-йога</p>
                <p class="teacher__experience">15 лет опыта</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
