<section class="team section">
  <div class="container">
    <h2 class="title title--seconde">Команда</h2>
    <p class="section__description">
      Наши преподаватели постоянно повышают уровень подготовки, посещают
      семинары старших тренеров по йоге России, также мастер-классы инструкторов
      йоги из Индии, Австралии и США.
    </p>

    <!-- Slider main container -->
    <div class="swiper team__swiper swiper-team">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="teacher">
            <img
              class="teacher__img"
              src="img/abdurahmangadzhi.jpg"
              width="145"
              height="104"
              alt="Тренер Абдурахмангаджи"
            />
            <div class="teacher__info">
              <p class="teacher__name">Абдурахмангаджи</p>
              <div class="teacher__info-inner">
                <p class="teacher__practice">Хатха-йога</p>
                <p class="teacher__experience">15 лет опыта</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="teacher">
            <img
              class="teacher__img"
              src="img/marina.jpg"
              width="145"
              height="104"
              alt="Тренер Марина"
            />
            <div class="teacher__info">
              <p class="teacher__name">Марина</p>
              <div class="teacher__info-inner">
                <p class="teacher__practice">Аштанга йога</p>
                <p class="teacher__experience">12 лет опыта</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="teacher">
            <img
              class="teacher__img"
              src="img/wilhelmina.jpg"
              width="145"
              height="104"
              alt="Тренер Вильгельмина"
            />
            <div class="teacher__info">
              <p class="teacher__name">Вильгельмина</p>
              <div class="teacher__info-inner">
                <p class="teacher__practice">Вальяса Флоу Йога</p>
                <p class="teacher__experience">10 лет опыта</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="teacher">
            <img
              class="teacher__img"
              src="img/wilhelmina.jpg"
              width="145"
              height="104"
              alt="Тренер Александра"
            />
            <div class="teacher__info">
              <p class="teacher__name">Александра</p>
              <div class="teacher__info-inner">
                <p class="teacher__practice">Тибетская йога</p>
                <p class="teacher__experience">9 лет опыта</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="teacher">
            <img
              class="teacher__img"
              src="img/yana.jpg"
              width="145"
              height="104"
              alt="Тренер Яна"
            />
            <div class="teacher__info">
              <p class="teacher__name">Яна</p>
              <div class="teacher__info-inner">
                <p class="teacher__practice">Йога Айенгара</p>
                <p class="teacher__experience">7 лет опыта</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="teacher">
            <img
              class="teacher__img"
              src="img/abdurahmangadzhi.jpg"
              width="145"
              height="104"
              alt="Тренер Оксана"
            />
            <div class="teacher__info">
              <p class="teacher__name">Оксана</p>
              <div class="teacher__info-inner">
                <p class="teacher__practice">Хатха-йога</p>
                <p class="teacher__experience">5 лет опыта</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="teacher">
            <img
              class="teacher__img"
              src="img/marina.jpg"
              width="145"
              height="104"
              alt="Тренер Елена"
            />
            <div class="teacher__info">
              <p class="teacher__name">Елена</p>
              <div class="teacher__info-inner">
                <p class="teacher__practice">Аштанга йога</p>
                <p class="teacher__experience">3 года опыта</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="teacher">
            <img
              class="teacher__img"
              src="img/abdurahmangadzhi.jpg"
              width="145"
              height="104"
              alt="Тренер Дарина"
            />
            <div class="teacher__info">
              <p class="teacher__name">Дарина</p>
              <div class="teacher__info-inner">
                <p class="teacher__practice">Вальяса Флоу Йога</p>
                <p class="teacher__experience">2 года опыта</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <a class="btn-slider teacher" href="#"
            ><span class="visually-hidden"
              >Перейти на страницу с вакансиями</span
            >Присоединиться к нашей команде</a
          >
        </div>
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
