html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  color: $black;
  font-family: $font-main;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

svg path {
  fill: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  margin: 0;
  position: relative;
}

.outline {
  @include min-lg {
    &::before {
      content: "";
      position: absolute;
      top: -10px;
      bottom: 10px;
      left: -10px;
      right: 10px;
      z-index: -1;
      display: block;
      border: 1px solid #505050;
    }
  }
}

.outline--right {
  @include min-lg {
    &::before {
      top: -10px;
      bottom: 10px;
      left: 10px;
      right: -10px;
    }
  }
}
