// Fonts
$font-main: "Noto Sans", Arial, sans-serif;
$font-secondary: "Tenor Sans", Arial, sans-serif;

// Breakpoints
$max-container-width: 1216px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Colors
$white: #fefefe;
$black: #505050;
$peach: #d9ab91;
$brown: #733f2c;
$grey-light: #d9d0c7;
$grey-dark: #8c837b;

// Styleguide
$hover-opacity: 0.5;

$transition-func: ease-in;
$transition-time: 0.3s;
$transition-time-middle: 0.7s;
