@import "../general/mixin.scss";

.btn {
  @include btn-reset;
  display: block;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  background: $black;
  color: $white;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.3s ease-in-out 0s;

  &:hover,
  &:focus {
    background: $brown;
  }

  @include min-sm {
    max-width: 320px;
    font-size: 24px;
    margin: 0;
    padding: 15px;
  }
}

// .btn--main {

// }
